@use "../../styles/variables" as var;

$size-grid: 110px;
$size-grid-laptop: 100px;
$size-grid-tablet: 80px;
$size-grid-phone: 80px;
$size-grid-phone-v: 65px;

$size-grid-img: 440px;
$size-grid-img-laptop: 400px;
$size-grid-img-tablet: 240px;
$size-grid-img-phone: 255px;
$size-grid-img-phone-v: 200px;

#tool-section {
  min-height: 100vh;
  width: 100%;
  background-color: var.$background-tool;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;

  h2,
  p {
    color: var.$text-color-tool;
    user-select: none;
    z-index: 1;
  }

  .tool-pattern {
    position: absolute;
    width: 800px;
    height: 200px;
    right: 3%;
    top: 4%;
    z-index: 0;

    background-image: radial-gradient(var.$t-pattern 1.5px, transparent 1.5px),
      radial-gradient(var.$t-pattern 1.5px, transparent 1.5px);
    background-size: 16px 16px;
    background-position: 0 0, 7px 7px;
    background-color: rgba(166, 103, 100, 0);
  }

  .tool-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      ".        .         icon-1    icon-2    .         .         . .           title-tool  title-tool  title-tool"
      ".        icon-3    icon-4    icon-5    icon-6    .         . img-tool    img-tool    img-tool    img-tool"
      "icon-7   icon-8    icon-9    icon-10   icon-11   icon-12   . img-tool    img-tool    img-tool    img-tool"
      ".        icon-13   icon-14   icon-15   icon-16   .         . img-tool    img-tool    img-tool    img-tool"
      ".        .         icon-17   icon-18   .         .         . img-tool    img-tool    img-tool    img-tool";

    grid-template-columns: auto auto auto auto auto auto 50px auto auto auto auto;

    // Grid icon position
    @for $i from 1 through 18 {
      .icon-#{$i} {
        grid-area: icon-#{$i};
      }
    }

    div {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
    }

    .grid-div {
      border: 3px solid var.$t-grid-border;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      .tool-icon-name {
        position: absolute;
        bottom: 2px;
        transform: translate(0, 20px);
        transition: transform 0.3s ease;
        &.icon-name-selected {
          transform: translate(0, 0);
        }
      }
      svg {
        width: 60%;
      }
    }

    .title-tool {
      grid-area: title-tool;
      h2 {
        width: 100%;
      }
    }
    // Img grid
    .img-tool {
      grid-area: img-tool;
      border: 3px solid var.$t-grid-border;
      border-radius: 20px;
      background-color: var.$t-grid-selected;
      position: relative;
      .img-tool-icon {
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;

        path {
          fill: var.$t-grid-border;
        }
      }
    }
  }

  //------ICON COLOR-------------
  //Icon unselected color
  .tool-color-1,
  .tool-color-3,
  .tool-color-4,
  .tool-color-5,
  .tool-color-6 {
    fill: var.$t-grid-border;
    transition: fill 0.3s ease;
  }
  .tool-color-stroke {
    stroke: var.$t-grid-border;
  }
  .tool-color-2 {
    fill: var.$t-grid-back;
  }

  //Tool zone color
  .grid-selected {
    background-color: var.$t-grid-selected;
  }

  //-----ICON HOVER COLOR---------
  .icon-1:hover,
  .icon-1.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-javascript-1;
    }
    .tool-color-2 {
      fill: var.$t-javascript-2;
    }
  }
  .icon-2:hover,
  .icon-2.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-typescript-1;
    }
    .tool-color-2 {
      fill: var.$t-typescript-2;
    }
  }
  .icon-3:hover,
  .icon-3.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-react-1;
    }
  }
  .icon-4:hover,
  .icon-4.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-angular-1;
    }
    .tool-color-2 {
      fill: var.$t-angular-3;
    }
    .tool-color-3 {
      fill: var.$t-angular-2;
    }
  }
  .icon-5:hover,
  .icon-5.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-next-1;
    }
  }
  .icon-6:hover,
  .icon-6.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-git-1;
    }
    .tool-color-2 {
      fill: var.$t-git-2;
    }
  }
  .icon-7:hover,
  .icon-7.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-redux-1;
    }
  }
  .icon-8:hover,
  .icon-8.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-sass-1;
    }
    .tool-color-2 {
      fill: var.$t-sass-2;
    }
  }
  .icon-9:hover,
  .icon-9.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-figma-1;
    }
    .tool-color-3 {
      fill: var.$t-figma-2;
    }
    .tool-color-4 {
      fill: var.$t-figma-3;
    }
    .tool-color-5 {
      fill: var.$t-figma-4;
    }
    .tool-color-6 {
      fill: var.$t-figma-5;
    }
  }
  .icon-10:hover,
  .icon-10.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-illustrator-1;
    }
    .tool-color-2 {
      fill: var.$t-illustrator-2;
    }
  }

  .icon-11:hover,
  .icon-11.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-c-1;
    }
    .tool-color-2 {
      fill: var.$t-c-4;
    }
    .tool-color-3 {
      fill: var.$t-c-2;
    }
    .tool-color-4 {
      fill: var.$t-c-3;
    }
  }
  .icon-12:hover,
  .icon-12.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-c2-1;
    }
    .tool-color-2 {
      fill: var.$t-c2-4;
    }
    .tool-color-3 {
      fill: var.$t-c2-2;
    }
    .tool-color-4 {
      fill: var.$t-c2-3;
    }
  }
  .icon-13:hover,
  .icon-13.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-c4-1;
    }
    .tool-color-2 {
      fill: var.$t-c4-4;
    }
    .tool-color-3 {
      fill: var.$t-c4-2;
    }
    .tool-color-4 {
      fill: var.$t-c4-3;
    }
  }
  .icon-14:hover,
  .icon-14.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-python-1;
    }
    .tool-color-3 {
      fill: var.$t-python-2;
    }
  }
  .icon-15:hover,
  .icon-15.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-sql-1;
    }
  }
  .icon-16:hover,
  .icon-16.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-stroke {
      stroke: var.$t-three-1;
    }
  }
  .icon-17:hover,
  .icon-17.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-fusion-1;
    }
    .tool-color-2 {
      fill: var.$t-fusion-2;
    }
    .tool-color-3 {
      fill: var.$t-fusion-3;
    }
    .tool-color-4 {
      fill: var.$t-fusion-4;
    }
  }
  .icon-18:hover,
  .icon-18.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-blender-1;
    }
    .tool-color-2 {
      fill: var.$t-blender-2;
    }
    .tool-color-3 {
      fill: var.$t-blender-3;
    }
  }
}

//desktop
@media only screen and (min-width: 1441px) {
  #tool-section {
    .tool-grid {
      gap: 6px;
    }
    .grid-div {
      width: $size-grid;
      height: $size-grid;
      .tool-icon-name {
        font-size: 0.75rem;
      }
    }
    .img-tool {
      width: $size-grid-img;
      height: $size-grid-img;
    }
    .title-tool {
      h2 {
        text-align: right;
      }
    }
  }
}
//laptops
@media only screen and (max-width: 1440px) {
  #tool-section {
    .tool-grid {
      grid-template-columns: auto auto auto auto auto auto 10px auto auto auto auto;
      gap: 6px;
    }
    .grid-div {
      width: $size-grid-laptop;
      height: $size-grid-laptop;
      .tool-icon-name {
        font-size: 0.75rem;
      }
    }
    .img-tool {
      width: $size-grid-img-laptop;
      height: $size-grid-img-laptop;
    }
    .title-tool {
      h2 {
        text-align: right;
      }
    }
  }
}
//tablets and mini-laptops
@media only screen and (max-width: 1100px) {
  #tool-section {
    .tool-grid {
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
      gap: 6px;
    }
    .grid-div {
      width: $size-grid-tablet;
      height: $size-grid-tablet;
      .tool-icon-name {
        font-size: 0.6rem;
      }
    }
    .img-tool {
      width: $size-grid-img-tablet;
      height: $size-grid-img-tablet;
    }
    .title-tool {
      h2 {
        text-align: right;
      }
    }
  }
}
//phone
@media only screen and (max-width: 768px) {
  #tool-section {
    .tool-grid {
      grid-template-areas:
        ".        title-tool title-tool title-tool  ."
        "icon-1   icon-2    img-tool    img-tool    img-tool"
        "icon-3   icon-4    img-tool    img-tool    img-tool"
        "icon-5   icon-6    img-tool    img-tool    img-tool"
        "icon-7   icon-8    icon-9      icon-10     icon-11"
        "icon-12  icon-13   icon-14     icon-15     icon-16"
        "icon-17  icon-18   .           .           .";
      gap: 6px;
    }
    .grid-div {
      width: $size-grid-phone;
      height: $size-grid-phone;
      .tool-icon-name {
        font-size: 0.6rem;
      }
    }
    .img-tool {
      width: $size-grid-img-phone;
      height: $size-grid-img-phone;
    }
    .title-tool {
      h2 {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  #tool-section {
    .tool-grid {
      transform: translate(4px, 0px);
      gap: 2px;
      grid-template-areas:
        ".        title-tool title-tool title-tool  ."
        "icon-1   icon-2    img-tool    img-tool    img-tool"
        "icon-3   icon-4    img-tool    img-tool    img-tool"
        "icon-5   icon-6    img-tool    img-tool    img-tool"
        "icon-7   icon-8    icon-9      icon-10     icon-11"
        "icon-12  icon-13   icon-14     icon-15     icon-16"
        "icon-17  icon-18   .           .           .";
    }
    .grid-div {
      width: $size-grid-phone-v;
      height: $size-grid-phone-v;
      .tool-icon-name {
        font-size: 0.5rem;
      }
    }
    .img-tool {
      width: $size-grid-img-phone-v;
      height: $size-grid-img-phone-v;
    }
    .title-tool {
      h2 {
        text-align: center;
      }
    }
  }
}
