@use "../../styles/variables" as var;

$size-grid: 110px;
$size-grid-img: 330px;

#tool-section {
  height: 100vh;
  width: 100%;
  background-color: var.$background-tool;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;

  h2,
  p {
    color: var.$text-color-tool;
    user-select: none;
    z-index: 1;
  }

  .tool-pattern {
    position: absolute;
    width: 800px;
    height: 200px;
    right: 3%;
    top: 4%;
    z-index: 0;

    background-image: radial-gradient(var.$t-pattern 1.5px, transparent 1.5px),
      radial-gradient(var.$t-pattern 1.5px, transparent 1.5px);
    background-size: 16px 16px;
    background-position: 0 0, 7px 7px;
    background-color: rgba(166, 103, 100, 0);
  }

  .tool-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    grid-template-areas:
      "icon-1 icon-2  title-1  .        .        . .          .           ."
      "icon-3 icon-4  icon-5  title-2   .        . title-tool title-tool  title-tool"
      ".      icon-6  icon-7  icon-9   title-3   . img-tool   img-tool    img-tool"
      ".      .       icon-8  icon-10  icon-12  . img-tool    img-tool    img-tool"
      ".      .       .       icon-11  icon-13  . img-tool    img-tool    img-tool";
    grid-template-columns: auto auto auto auto auto 50px auto auto auto;

    div {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
    }

    // Tool grid (frontend, 3d, 2d)
    @for $i from 1 through 13 {
      .icon-#{$i} {
        width: $size-grid;
        height: $size-grid;
        grid-area: icon-#{$i};
        border: 3px solid var.$t-grid-border;
        border-radius: 5px;
        p {
          font-size: 12px;
        }
        svg {
          width: 60%;
        }
      }
    }

    // Title grid
    @for $i from 1 through 3 {
      .title-#{$i} {
        grid-area: title-#{$i};
        justify-content: flex-end;
        width: $size-grid;
        height: $size-grid;
        .title-grid {
          font-weight: 600;
          margin: 0;
        }
      }
    }
    // Title section grid
    .title-tool {
      grid-area: title-tool;
      h2 {
        width: 100%;
        text-align: right;
      }
    }
    // Img grid
    .img-tool {
      grid-area: img-tool;
      width: $size-grid-img;
      height: $size-grid-img;
      border: 3px solid var.$t-grid-border;
      border-radius: 20px;
      background-color: var.$t-grid-selected;
    }
  }

  //Icon unselected color
  .tool-color-1,
  .tool-color-3,
  .tool-color-4,
  .tool-color-5,
  .tool-color-6 {
    fill: var.$t-grid-border;
    transition: fill 0.3s ease;
  }
  .tool-color-stroke {
    stroke: var.$t-grid-border;
  }
  .tool-color-2 {
    fill: var.$t-grid-back;
  }

  //Tool zone color
  .grid-selected {
    background-color: var.$t-grid-selected;
  }

  //Icon hover color
  .icon-1:hover,
  .icon-1.grid-selected {
    background-color: var.$t-grid-selected;
    .tool-color-1 {
      fill: var.$t-javascript-1;
    }
    .tool-color-2 {
      fill: var.$t-javascript-2;
    }
  }
  .icon-2:hover,
  .icon-2.grid-selected {
    .tool-color-1 {
      fill: var.$t-typescript-1;
    }
    .tool-color-2 {
      fill: var.$t-typescript-2;
    }
  }
  .icon-3:hover,
  .icon-3.grid-selected {
    .tool-color-1 {
      fill: var.$t-react-1;
    }
  }
  .icon-4:hover,
  .icon-4.grid-selected {
    .tool-color-1 {
      fill: var.$t-angular-1;
    }
    .tool-color-2 {
      fill: var.$t-angular-3;
    }
    .tool-color-3 {
      fill: var.$t-angular-2;
    }
  }
  .icon-5:hover,
  .icon-5.grid-selected {
    .tool-color-1 {
      fill: var.$t-next-1;
    }
  }
  .icon-6:hover,
  .icon-6.grid-selected {
    .tool-color-1 {
      fill: var.$t-git-1;
    }
    .tool-color-2 {
      fill: var.$t-git-2;
    }
  }
  .icon-7:hover,
  .icon-7.grid-selected {
    .tool-color-1 {
      fill: var.$t-redux-1;
    }
  }
  .icon-8:hover,
  .icon-8.grid-selected {
    .tool-color-1 {
      fill: var.$t-sass-1;
    }
    .tool-color-2 {
      fill: var.$t-sass-2;
    }
  }
  .icon-9:hover,
  .icon-9.grid-selected {
    .tool-color-stroke {
      stroke: var.$t-three-1;
    }
  }
  .icon-10:hover,
  .icon-10.grid-selected {
    .tool-color-1 {
      fill: var.$t-fusion-1;
    }
    .tool-color-2 {
      fill: var.$t-fusion-2;
    }
    .tool-color-3 {
      fill: var.$t-fusion-3;
    }
    .tool-color-4 {
      fill: var.$t-fusion-4;
    }
  }
  .icon-11:hover,
  .icon-11.grid-selected {
    .tool-color-1 {
      fill: var.$t-blender-1;
    }
    .tool-color-2 {
      fill: var.$t-blender-2;
    }
    .tool-color-3 {
      fill: var.$t-blender-3;
    }
  }
  .icon-12:hover,
  .icon-12.grid-selected {
    .tool-color-1 {
      fill: var.$t-figma-1;
    }
    .tool-color-3 {
      fill: var.$t-figma-2;
    }
    .tool-color-4 {
      fill: var.$t-figma-3;
    }
    .tool-color-5 {
      fill: var.$t-figma-4;
    }
    .tool-color-6 {
      fill: var.$t-figma-5;
    }
  }
  .icon-13:hover,
  .icon-13.grid-selected {
    .tool-color-1 {
      fill: var.$t-illustrator-1;
    }
    .tool-color-2 {
      fill: var.$t-illustrator-2;
    }
  }
}
