// Colors
$background-intro: #f0b63a;
$background-about: #edeceb;
$background-tool: #ae5a55;

$text-color-intro: #fff;
$text-color-about: #937024;
$text-color-tool: #583532;

$var1: #ae5a55;
$var2: #583532;

// About SVG Colors
$about-person: #edeceb;
$about-shade: #f0b63a;
$about-path: #f07a3a;
$about-pattern: #ebd6a9;

// Fonts
$h1-size: 50px;
$h2-size: 42px;
$h3-size: 30px;
$p-size: 20px;
$h1-family: "Unbounded", sans-serif;
$general-family: "Space Grotesk", sans-serif;
