// Colors
$background-intro: #f0b63a;
$background-about: #edeceb;
$background-tool: #b54a48;
$background-craft: #edeceb;
$background-footer: #cfcac9;

$text-color-intro: #edeceb;
$text-color-about: #937024;
$text-color-tool: #edeceb;
$text-color-craft: #461817;
$text-color-footer: #6e6c6c;
$text-color-header: #6e6c6c;

// About Colors
$about-person: #edeceb;
$about-shade: #f0b63a;
$about-path: #f07a3a;
$about-pattern: #ebd6a9;

//Tool Colors
$t-grid-border: #551d17;
$t-grid-back: #b54a48;
$t-grid-selected: #551d1759;
$t-pattern: #551d1759;
//icon real colors
$t-javascript-1: #f7df1e;
$t-javascript-2: white;
$t-typescript-1: #007acc;
$t-typescript-2: black;
$t-react-1: #00d8ff;
$t-angular-1: #dd0031;
$t-angular-2: #c3002f;
$t-angular-3: white;
$t-next-1: black;
$t-git-1: #ee513b;
$t-git-2: white;
$t-redux-1: #764abc;
$t-sass-1: #c69;
$t-sass-2: white;
$t-three-1: black;
$t-fusion-1: #ff6b00;
$t-fusion-2: white;
$t-fusion-3: #ff9548;
$t-fusion-4: #933c00;
$t-blender-1: #ea7600;
$t-blender-2: #ffffff;
$t-blender-3: #265787;
$t-figma-1: #1abcfe;
$t-figma-2: #0acf83;
$t-figma-3: #ff7262;
$t-figma-4: #f24e1e;
$t-figma-5: #a259ff;
$t-illustrator-1: #330000;
$t-illustrator-2: #ff9a00;
$t-c-1: #004482;
$t-c-2: #00599c;
$t-c-3: #659ad2;
$t-c-4: #ffffff;
$t-c2-1: #5c8dbc;
$t-c2-2: #1a4674;
$t-c2-3: #1b598e;
$t-c2-4: #ffffff;
$t-c4-1: #a179dc;
$t-c4-2: #280068;
$t-c4-3: #390091;
$t-c4-4: #ffffff;
$t-python-1: #387eb8;
$t-python-2: #ffe052;
$t-sql-1: #016f8e;

// Craft Colors
$craft-label-color: #edeceb;
$craft-label-background: #913b3a;
$craft-item-background: #ffffff62;

// Footer Colors
$footer-anchor-hover: #edeceb;

// Fonts
$h1-size: 3.5rem;
$h2-size: 2.62rem;
$h2-phone-size: 2.3rem;
$h3-size: 1.88rem;
$p-size: 1.25rem;
$p-phone-size: 1.1rem;
$h1-family: "Unbounded", sans-serif;
$general-family: "Space Grotesk", sans-serif;
$craft-text-size: 1rem;
