@use "../../styles/variables" as var;

#about-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
  position: relative;
  overflow: hidden;
  background-color: var.$background-about;

  h2,
  p {
    color: var.$text-color-about;
  }
  strong {
    font-weight: bold;
  }

  .about-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 2;
  }

  .about-pattern-container {
    position: absolute;
    width: 47%;
    height: 225px;
    z-index: 0;
    background-image: repeating-linear-gradient(
      45deg,
      var.$about-pattern 0,
      var.$about-pattern 3px,
      transparent 0,
      transparent 50%
    );
    background-size: 20px 20px;
    background-color: rgba(255, 255, 255, 0);
    right: 10%;
  }

  .about-image {
    width: 350px;
    min-width: 350px;
    z-index: 1;

    #background-person path,
    #aux-person path {
      fill: var.$about-person;
    }
    #shade-body path,
    #shade-neck path,
    #shade-head path,
    #shade-hair path {
      fill: var.$about-shade;
    }
    #body-path path,
    #face-bottom path,
    #nose path,
    #ears path,
    #hair path,
    #mouth path,
    #eyes path,
    #mustache path,
    #beard-chin,
    #eyebrows path {
      fill: var.$about-path;
      stroke: var.$about-path;
      stroke-width: 1px;
    }
    #glasses {
      fill: none;
      stroke: var.$about-path;
      stroke-miterlimit: 10;
      stroke-width: 3px;
    }
  }
}

//desktops
@media only screen and (max-width: 1280px) {
  #about-section {
    padding: 100px;
    .about-image {
      width: 320px;
      min-width: 320px;
    }
  }
}
//laptops
@media only screen and (max-width: 1024px) {
  #about-section {
    padding: 100px 150px;
    flex-direction: column-reverse;
    height: 100vh;
    .about-image {
      width: 250px;
      min-width: 250px;
    }
    .about-pattern-container {
      top: 30%;
      background-size: 12px 12px;
      width: 80%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .about-text {
      justify-content: center;
      align-items: center;
      text-align: justify;
      width: auto;
    }
  }
}
//tablets
@media only screen and (max-width: 768px) {
  #about-section {
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
//phones
@media only screen and (max-width: 640px) {
  #about-section {
    padding-left: 60px;
    padding-right: 60px;
    h2 {
      font-size: var.$h2-phone-size;
    }
    p {
      font-size: var.$p-phone-size;
    }
  }
}
