@use "../../styles/variables" as var;

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var.$background-footer;

  p,
  a {
    color: var.$text-color-footer;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    gap: 20px;

    .logo-container {
      width: 50px;
      .logo-svg-path {
        fill: none;
        stroke: var.$text-color-footer;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
    }
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    gap: 8px;

    a {
      font-size: var.$p-phone-size;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    a:hover {
      color: var.$footer-anchor-hover;
    }
    p {
      font-size: 14px;
    }
    ul {
      list-style-type: none;
    }
    li {
      margin: 4px 0;
    }
  }
}

//desktop
@media only screen and (min-width: 1441px) {
  #footer {
    padding: 70px 90px;
    .footer-left {
      p {
        font-size: var.$p-phone-size;
      }
    }
  }
}
//laptop
@media only screen and (max-width: 1440px) {
  #footer {
    padding: 70px 90px;
    .footer-left {
      p {
        font-size: var.$p-phone-size;
      }
    }
  }
}
//tablet
@media only screen and (max-width: 1024px) {
  #footer {
    padding: 70px 30px;
  }
}
//phones(horizontal)
@media only screen and (max-width: 767px) {
  #footer {
  }
}
//phones(vertical)
@media only screen and (max-width: 480px) {
  #footer {
    .footer-left {
      p {
        font-size: var.$p-footer-phone-size;
      }
    }
    .footer-right {
      margin-left: 15px;
    }
  }
}
