@use "./styles/variables" as var;

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&display=swap");

/*CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var.$general-family;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: var.$h1-size;
  font-family: var.$h1-family;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: var.$h2-size;
  font-weight: 600;
}

h3 {
  font-size: var.$h3-size;
  font-weight: 600;
}

p {
  font-size: var.$p-size;
}

#root {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 0;
}
