/*VARIABLES*/
$border-color: #ebebeb;

/*CSS*/
* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

#left-container,
#right-container {
  display: flex;
  flex: 1;
}

#main-container {
  flex: 6.5;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  height: 100vh;
  flex-direction: column;
}
